<div class="eventDetail mainEventDetail">

  <div class="eventLeft">

    <img src="https://panel.cosmosticket.net/upload/activity/202413104456880.jpg" alt="LE PETİT CHEF" class="eventImg2">

    <div class="blocktitle">
      <div class="tt-caption">Cosmos Theatre - Özel Etkinlik</div>
      <h1 class="tt-title2">LE PETİT CHEF</h1>
    </div>

    <h3 class="subTitle">Programme:</h3>
    <div class="eventDesc">
      <h2
        style="padding: 0px; margin: 0px; font-family: &quot;roboto condensed&quot;, sans-serif; font-size: 1.75rem; box-sizing: border-box; text-transform: uppercase; text-align: center;">
        LE PETIT CHEF - THE WORLD'S SMALLEST CHEF!</h2>
      <p
        style="padding: 15px 0px; margin: 0px; font-family: &quot;source sans pro&quot;, sans-serif; font-size: 20px; box-sizing: border-box; color: rgb(99, 99, 99); line-height: 1.5rem; text-align: center;">
        <b style="padding: 0px; margin: 0px; box-sizing: border-box;">Cosmos Theatre</b>&nbsp;invites you to
        experience the best of theatre and dining in an immersive culinary journey following&nbsp;<strong
          style="padding: 0px; margin: 0px; box-sizing: border-box;">Le Petit Chef</strong>, the world's smallest
        chef! Enjoy an unforgettable experience that will capture your imagination.
      </p>

    </div>

  </div>

  <div class="eventImg">
    <img src="https://panel.cosmosticket.net/upload/activity/202413104456880.jpg" alt="LE PETİT CHEF">
    <div class="seansListWrap">
      <div class="seansListInner">

        <div class="sessions">


          <br>
          <a href="https://wa.me/905498136000?text=Hello, I want a reservation." target="_blank"
            class="tt-btn-default"><span>RESERVATION UPON REQUEST</span></a>
        </div>
      </div>
    </div>
  </div>



</div>