<div class="eventDetail mainEventDetail">

  <div class="eventLeft">

    <img src="{{selectedProductData?.imageList?.[0] ?? ''}}" alt="Küçük Prens" class="eventImg2">

    <div class="blocktitle">
      <div class="tt-caption">Cosmos Theatre - Küçük Prens</div>
      <h1 class="tt-title2">Küçük Prens</h1>
    </div>

    <h3 class="subTitle">Programme:</h3>
    <div class="main" [innerHtml]="html"></div>

  </div>

  <div class="eventImg">
    <img [src]="image ?? ''" alt="Küçük Prens">

    <div class="seansListWrap">
      <div class="seansListInner">
        <div class="sessionLbl">
          <div>
            Day: {{selectedProductData && selectedProductData.sessions && selectedProductData.sessions[0]?.displayDate
            ?? ''}}
          </div>

          Select Session
        </div>

        <div class="sessions">
          <mat-form-field class=" flex-auto form-outline extra-service-material custom-session"
            style="color: black;    width: 48%;">
            <mat-label>Select Seance</mat-label>
            <mat-select [(ngModel)]="selectedSeance" (ngModelChange)="selectSeance()">
              <mat-option *ngFor="let option of selectedProductData?.sessions" [value]="option.seanceBegin">{{
                option.seanceBegin }}</mat-option>

            </mat-select>
          </mat-form-field>
          <!-- <select class="form-control seansSelect" [(ngModel)]="selectedSeance" (ngModelChange)="selectSeance()">

            <option [value]="item.programDetailId" *ngFor="let item of selectedProductData?.sessions">
              {{item.seanceBegin}}
            </option> 
          </select> -->



        </div>
        <div class="row">
          <button type="button" (click)="continue()" class="tt-btn-default"><span>Continue</span></button>
          <button id="addBasketDetailButton" type="button" (click)="addBasket()"
            class="tt-btn-default addBasketDetailButton"><span>Add to Basket</span></button>
          <!-- <button type="button" onclick="biletAl()" class="tt-btn-default"><span>Buy a ticket</span></button>
          <button id="addBasketDetailButton" type="button" (click)="addBasket()"
            class="tt-btn-default addBasketDetailButton"><span>Add to Basket</span></button> -->
        </div>
      </div>
    </div>
  </div>



</div>