<div class="eventDetail mainEventDetail">

  <div class="eventLeft">

    <img src="{{selectedProductData?.imageList?.[0] ?? ''}}" alt="Küçük Prens" class="eventImg2">

    <div class="blocktitle">
      <div class="tt-caption">Cosmos Theatre - Küçük Prens</div>
      <h1 class="tt-title2">Küçük Prens</h1>
    </div>

    <h3 class="subTitle">Programme:</h3>
    <div class="main" [innerHtml]="html"></div>

  </div>

  <div class="eventImg">
    <img [src]="image ?? ''" alt="Küçük Prens">

    <div class="seansListWrap">
      <div class="seansListInner">
        <div class="sessionLbl">
          <div>
            Day: {{selectedProductData && selectedProductData.sessions && selectedProductData.sessions[0]?.displayDate
            ?? ''}}
          </div>

          Select Session
        </div>

        <div class="sessions">
          <select class="form-control seansSelect" [(ngModel)]="selectedSeance" (ngModelChange)="selectSeance()">

            <option [value]="item.programDetailId" *ngFor="let item of selectedProductData?.sessions">
              {{item.seanceBegin}}
            </option>
            <!-- <option value="618">13:15</option>
            <option value="619">14:45</option>
            <option value="620">16:00</option>
            <option value="621">17:15</option> -->
          </select>


          <button type="button" (click)="addBasket()" class="tt-btn-default"><span>Continue</span></button>
          <!-- <button id="addBasketDetailButton" type="button" (click)="addBasket()"
            class="tt-btn-default addBasketDetailButton"><span>Add to Basket</span></button> -->
          <!-- <button type="button" onclick="biletAl()" class="tt-btn-default"><span>Buy a ticket</span></button>
            <button id="addBasketDetailButton" type="button" (click)="addBasket()"
              class="tt-btn-default addBasketDetailButton"><span>Add to Basket</span></button> -->
        </div>
      </div>
    </div>
  </div>



</div>