<div id="tt-pageContent">
  <div class="section-wrapper subpages-inner section-marker m-basket">
    <div class="container container-fluid-lg ">
      <div class="section-indent05 forgotpassword">
        <div class="container">
          <div class="row basket-container">
            <div class="col-12 col-md-12 col-lg-8 basket" [@flyOut] *ngIf="!paymentProcess">
              <div class="m-basket__header">
                <h3 class="m-basket__header--title">ALIŞVERİŞ SEPETİM</h3>
              </div>
              <div class="m-basket__body">
                <div class="m-basket__item">
                  <div class="m-basket__content">
                    <div class="m-basket__contentPanel"><!---->
                      <div class="m-basket__figure"><a
                          href="/p_sony-playstation-5-1-tb-slim-dijital-edition-oyun-konsolu-2-ps5-kol-beyaz_1391482"
                          title="Playstation 5 1 TB Slim Dijital Edition Oyun Konsolu + 2. PS5 Kol Beyaz"
                          class="m-basket__figureLink">
                          <img src="https://panel.cosmosticket.net/upload/activity/20231225145337262.jpg" width="164"
                            height="227" alt="Playstation 5 1 TB Slim Dijital Edition Oyun Konsolu + 2. PS5 Kol Beyaz"
                            class="m-basket__figureImg -lazyImage"></a></div>
                      <div class="m-basket__optionContent">
                        <div class="m-basket__optionHeader"><a
                            href="/p_sony-playstation-5-1-tb-slim-dijital-edition-oyun-konsolu-2-ps5-kol-beyaz_1391482"
                            title="Playstation 5 1 TB Slim Dijital Edition Oyun Konsolu + 2. PS5 Kol Beyaz"
                            class="m-basket__productInfo--link"><strong class="m-basket__productInfoCategory">Küçük
                              Prens</strong> <span class="m-basket__productInfoName">Sunday, Jan 14, 2024
                              12:00</span></a> </div>
                        <div class="m-basket__productTools">
                          <div class="m-basket__productInfo">
                            <div class="m-basket__productPrice">
                              <!-- sale -->
                              <div class="m-productPrice">
                                <div class="m-productPrice__discount"><span
                                    class="m-productPrice__discountValue">-%10</span></div>
                                <div class="m-productPrice__content"><span class="m-productPrice__oldPrice">
                                    2.250,00 TL
                                  </span> <span class="m-productPrice__salePrice">2.250,00 TL</span></div>
                              </div>
                              <!-- <div class="m-productPrice">
                                <div class="m-productPrice__content">
                                  <span class="m-productPrice__salePrice">2.250,00
                                    TL</span>
                                </div> 
                              </div> -->

                            </div>
                            <div class="m-basket__features">
                              <div class="m-basket__quantity">
                                <div class="m-basket__variantionName -mobileHide">
                                  Yetişkin:
                                </div>
                                <div class="m-select -small"><select id="quantitySelect0-key-0"
                                    class="a-selectControl -small">
                                    <option value="1">
                                      1 adet
                                      <!---->
                                    </option>
                                    <option value="2">
                                      2 adet
                                      <!---->
                                    </option>
                                    <option value="3">
                                      3 adet
                                      <!---->
                                    </option>
                                    <option value="4">
                                      4 adet
                                      <!---->
                                    </option>
                                    <option value="5">
                                      5 adet
                                      <!---->
                                    </option>
                                    <option value="6">
                                      6 adet
                                      <!---->
                                    </option>
                                    <option value="7">
                                      7 adet
                                      <!---->
                                    </option>
                                    <option value="8">
                                      8 adet
                                      <!---->
                                    </option>
                                    <option value="9">
                                      9 adet
                                      <!---->
                                    </option>
                                    <option value="10">
                                      10 adet
                                      <!---->
                                    </option>
                                    <option value="11">
                                      11 adet
                                      <!---->
                                    </option>
                                    <option value="12">
                                      12 adet
                                      <!---->
                                    </option>
                                    <option value="13">
                                      13 adet
                                      <!---->
                                    </option>
                                    <option value="14">
                                      14 adet
                                      <!---->
                                    </option>
                                    <option value="15">
                                      15 adet
                                      <!---->
                                    </option>
                                    <option value="16">
                                      16 adet
                                      <!---->
                                    </option>
                                    <option value="17">
                                      17 adet
                                      <!---->
                                    </option>
                                    <option value="18">
                                      18 adet
                                      <!---->
                                    </option>
                                    <option value="19">
                                      19 adet
                                      <!---->
                                    </option>
                                    <option value="20">
                                      20 adet
                                      <!---->
                                    </option>
                                    <option value="21">
                                      21 adet
                                      <!---->
                                    </option>
                                    <option value="22">
                                      22 adet
                                      <!---->
                                    </option>
                                    <option value="23">
                                      23 adet
                                      <!---->
                                    </option>
                                    <option value="24">
                                      24 adet
                                      <!---->
                                    </option>
                                    <option value="25">
                                      25 adet
                                      <!---->
                                    </option>
                                    <option value="26">
                                      26 adet
                                      <!---->
                                    </option>
                                    <option value="27">
                                      27 adet
                                      <!---->
                                    </option>
                                    <option value="28">
                                      28 adet
                                      <!---->
                                    </option>
                                    <option value="29">
                                      29 adet
                                      <!---->
                                    </option>
                                    <option value="30">
                                      30 adet
                                      <!---->
                                    </option>
                                    <option value="31">
                                      31 adet
                                      <!---->
                                    </option>
                                    <option value="32">
                                      32 adet
                                      <!---->
                                    </option>
                                    <option value="33">
                                      33 adet
                                      <!---->
                                    </option>
                                    <option value="34">
                                      34 adet
                                      <!---->
                                    </option>
                                    <option value="35">
                                      35 adet
                                      <!---->
                                    </option>
                                    <option value="36">
                                      36 adet
                                      <!---->
                                    </option>
                                    <option value="37">
                                      37 adet
                                      <!---->
                                    </option>
                                    <option value="38">
                                      38 adet
                                      <!---->
                                    </option>
                                    <option value="39">
                                      39 adet
                                      <!---->
                                    </option>
                                    <option value="40">
                                      40 adet
                                      <!---->
                                    </option>
                                    <option value="41">
                                      41 adet
                                      <!---->
                                    </option>
                                    <option value="42">
                                      42 adet
                                      <!---->
                                    </option>
                                    <option value="43">
                                      43 adet
                                      <!---->
                                    </option>
                                    <option value="44">
                                      44 adet
                                      <!---->
                                    </option>
                                    <option value="45">
                                      45 adet
                                      <!---->
                                    </option>
                                    <option value="46">
                                      46 adet
                                      <!---->
                                    </option>
                                    <option value="47">
                                      47 adet
                                      <!---->
                                    </option>
                                    <option value="48">
                                      48 adet
                                      <!---->
                                    </option>
                                    <option value="49">
                                      49 adet
                                      <!---->
                                    </option>
                                  </select></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="m-basket__options">
                          <div class="m-basket__optionsItem">
                            <button id="removeCartItemBtn0-key-0" type="button" class="m-basket__remove">
                              <mat-icon id="delete-icon">delete</mat-icon>Sil
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12  col-md-12 col-lg-8 basket" [@flyOut] *ngIf="paymentProcess">
              <!-- Credit card form -->
              <div class="row d-flex">
                <div class="col-md-12 mb-4">
                  <div class="card mb-4">
                    <div class="card-header py-3">
                      <h4 class="mb-0">Biling details</h4>
                    </div>
                    <hr class="my-4" />

                    <div class="card-body">
                      <form [formGroup]="paymentForm">
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row mb-4">
                          <div class="col-6">
                            <mat-form-field class="flex-auto form-outline">
                              <mat-label> Name</mat-label>
                              <input matInput [formControlName]="'name'" />
                            </mat-form-field>
                          </div>
                          <div class="col-6">
                            <mat-form-field class="flex-auto form-outline">
                              <mat-label>Last Name</mat-label>
                              <input matInput [formControlName]="'lastname'" />
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row  mb-4">
                          <div class="col-12">

                            <mat-form-field class="flex-auto form-outline">
                              <mat-label>Address</mat-label>
                              <input matInput [formControlName]="'adress'" />
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row  mb-4">
                          <div class="col-12">
                            <mat-form-field class="flex-auto form-outline">
                              <mat-label>Email</mat-label>
                              <input matInput [formControlName]="'email'" />
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row  mb-4">
                          <div class="col-12">
                            <mat-form-field class="flex-auto form-outline">
                              <mat-label>Phone</mat-label>
                              <input matInput [formControlName]="'phone'" />
                            </mat-form-field>
                          </div>
                        </div>
                        <hr class="my-4" />
                        <div class="row  mb-4">
                          <div class="col-12">
                            <mat-checkbox matInput [formControlName]="'savenexttime'">Save this information for next
                              time</mat-checkbox>
                          </div>
                        </div>
                        <hr class="my-4" />
                        <h4 class="mb-4">Payment</h4>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="checkoutForm3"
                            checked />
                          <label class="form-check-label" for="checkoutForm3">
                            Credit card
                          </label>
                        </div>
                        <div class="row mb-4">
                          <div class="col-12">
                            <mat-form-field class="flex-auto form-outline">
                              <mat-label> Name on card</mat-label>
                              <input matInput [formControlName]="'cardname'" />
                              <mat-error *ngIf="paymentForm.get('cardname')?.hasError('required')">
                                Name on card is required
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col-12">
                            <mat-form-field class="flex-auto form-outline">
                              <mat-label>Credit card number</mat-label>
                              <input (input)="onValueChangeCreditCard($event)" matInput
                                [formControlName]="'cardnumber'" />
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col-4">
                            <mat-form-field class="flex-auto form-outline">
                              <mat-label>Expiration Month</mat-label>
                              <mat-select [formControlName]="'month'" required>
                                <mat-option *ngFor="let option of monthSelectBox" [value]="option">
                                  {{ option }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-4">
                            <mat-form-field id="basket-form" class="flex-auto">
                              <mat-label>Expiration Year</mat-label>
                              <mat-select [formControlName]="'year'" required id="basket-form">
                                <mat-option *ngFor="let option of yearSelectBox" [value]="option">
                                  {{ option }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-4">
                            <mat-form-field id="basket-form" class="flex-auto">
                              <mat-label>CVV</mat-label>
                              <input matInput type="text" [formControlName]="'cvc'" min="0"
                                (input)="onValueChangeCvv($event)" required />
                            </mat-form-field>
                          </div>
                        </div>
                        <!-- 
                        <button class="btn btn-primary btn-lg btn-block" type="submit">
                          Continue to checkout
                        </button> -->
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 basket basket-summary">
              <div class="m-orderSummary" disabledbtn="true">
                <div class="m-orderSummary__header">
                  <h3 class="m-orderSummary__title">Sipariş Özeti</h3>
                </div>
                <div class="m-orderSummary__body">
                  <ul class="m-orderSummary__calculate">
                    <li class="m-orderSummary__item"><span class="m-orderSummary__name">Toplam Tutar (KDV Dahil)</span>
                      <span class="m-orderSummary__value">2.250,00 TL</span>
                    </li>
                    <li class="m-orderSummary__item -arrowUp"><span class="m-orderSummary__name">Toplam İndirim
                        Tutarı</span> <span class="m-orderSummary__value">-250,00 TL</span></li>
                    <li class="subList">
                      <ul>

                        <li class="m-orderSummary__item -last"><span class="m-orderSummary__name">Kampanya
                            İndirimi</span> <span class="m-orderSummary__value">-250,00 TL</span></li>
                      </ul>
                    </li>

                    <li class="m-orderSummary__item -grandTotal"><span class="m-orderSummary__name">Ödenecek
                        Tutar</span> <span class="m-orderSummary__value"
                        ins-init-condition="#Li1ncmFuZFRvdGFsIC5tLW9yZGVyU3VtbWFyeV9fdmFsdWUsICNlbXR5Q2FydA==">2.250,00
                        TL</span></li>
                  </ul>
                </div>
                <div class="m-orderSummary__bottom"><button type="button" id="nextBtn" class="btn -dark -large"
                    (click)="paymentProcessContinue()">SATIN
                    AL</button></div>
              </div>
              <div>
                <div><button id="addCouponCodeBtn" type="button" class="m-couponSummary">
                    <div class="m-couponSummary__content"><svg width="36px" height="22px" class="icon icon-discount">
                        <use xlink:href="#icon-discount"></use>
                      </svg> <span class="m-couponSummary__text">Kupon Kodu Ekleyin</span></div> <svg width="16px"
                      height="16px" class="icon icon-arrow-right">
                      <use xlink:href="#icon-arrow-right"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="paymentForm"></div>