<div id="tt-pageContent">
  <div class="section-wrapper subpages-inner section-marker m-basket">
    <div class="container container-fluid-lg ">
      <div class="section-indent05 forgotpassword">
        <div class="container">
          <div class="row basket-container">
            <div class="col-12 col-md-12 col-lg-8 basket" style="position: relative;" [@flyOut] *ngIf="!paymentProcess">
              <div class="m-basket__header">
                <h3 class="m-basket__header--title">ALIŞVERİŞ SEPETİM</h3>
              </div>
              <div class="m-basket__body">
                <div class="m-basket__item">
                  <div class="m-basket__content">
                    <div class="m-basket__contentPanel" *ngFor="let item of basketItems">
                      <div class="m-basket__figure"><a class="m-basket__figureLink">
                          <img src="{{item?.image ?? ''}}" width="164" height="227" (click)="routeItem(item.itemRecId)"
                            class="m-basket__figureImg -lazyImage"></a></div>
                      <div class="m-basket__optionContent">
                        <div class="m-basket__optionHeader"><a class="m-basket__productInfo--link"><strong
                              class="m-basket__productInfoCategory">{{item?.remark ?? ''}}</strong>
                            <span class="m-basket__productInfoName">{{ item.date | date:'EEEE, MMM dd, yyyy' }} </span>
                            <span class="m-basket__productInfoName"> {{ item.sessionTime}}</span>
                            <span class="m-basket__productInfoName"> {{ item.category}}</span>
                          </a>
                        </div>

                        <div class="m-basket__productTools">
                          <div class="m-basket__productInfo">
                            <div class="m-basket__productPrice">
                              <!-- sale -->
                              <!-- <div class="m-productPrice">
                                <div class="m-productPrice__discount"><span
                                    class="m-productPrice__discountValue">-%10</span></div>
                                <div class="m-productPrice__content"><span class="m-productPrice__oldPrice">{{
                                    ((+item.adultCount * +item.adultPrice) + (+item.adultCount * +item.adultPrice / 10))
                                    | currency:'':'':'1.2-2' }} TL
                                  </span> <span class="m-productPrice__salePrice">{{ (+item.adultCount *
                                    +item.adultPrice)
                                    | currency:'':'':'1.2-2' }} TL</span></div>
                              </div> -->
                              <div class="m-productPrice">
                                <div class="m-productPrice__discount"><span
                                    class="m-productPrice__discountValue">-%10</span></div>
                                <div class="m-productPrice__content"><span class="m-productPrice__oldPrice">{{
                                    (+item.totalPrice )
                                    | currency:'':'':'1.2-2' }} TL
                                  </span> <span class="m-productPrice__salePrice">{{ (+item.totalPrice )
                                    | currency:'':'':'1.2-2' }} TL</span></div>
                              </div>
                              <!-- <div class="m-productPrice">
                                <div class="m-productPrice__content">
                                  <span class="m-productPrice__salePrice">2.250,00
                                    TL</span>
                                </div> 
                              </div>-->

                            </div>
                            <div class="m-basket__features">
                              <div class="m-basket__quantity">
                                <div class="m-basket__variantionName -mobileHide">
                                  Yetişkin:
                                </div>
                                <div class="center">
                                  <div class="number-input-wrapper">
                                    <div class="number-input adultCount" [attr.min]="min" [attr.max]="max"
                                      [attr.step]="step" [attr.value]="value">
                                      <button type="button" class="btn-input"
                                        (click)="decrease(item.itemRecId , 'adultCount')">
                                        <mat-icon class="btn-amount">remove</mat-icon>
                                      </button>
                                      <div class="value">
                                        <span class="number">{{ item.adultCount }}</span>
                                        <!-- <span class="text">Quantity</span> -->
                                      </div>
                                      <button type="button" class="btn-input"
                                        (click)="increase(item.itemRecId, 'adultCount')">
                                        <mat-icon class="btn-amount">add</mat-icon>
                                      </button>
                                    </div>
                                  </div>
                                </div>



                                <div style="margin-left: 0.4em;" class="m-basket__variantionName -mobileHide">
                                  Çocuk:
                                </div>
                                <div class="center">
                                  <div class="number-input-wrapper">
                                    <div class="number-input childCount" [attr.min]="min" [attr.max]="max"
                                      [attr.step]="step" [attr.value]="value">
                                      <button type="button" class="btn-input"
                                        (click)="decrease(item.itemRecId , 'childCount')">
                                        <mat-icon class="btn-amount">remove</mat-icon>
                                      </button>
                                      <div class="value">
                                        <span class="number">{{ item.childCount }}</span>
                                        <!-- <span class="text">Quantity</span> -->
                                      </div>
                                      <button type="button" class="btn-input"
                                        (click)="increase(item.itemRecId, 'childCount')">
                                        <mat-icon class="btn-amount">add</mat-icon>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                                <div class="m-select -small" *ngIf="false"><select #quantitySelect
                                    id="quantitySelect0-key-0" value="1" [(ngModel)]="item.adultcount"
                                    (ngModelChange)="onQuantityChange($event, item.sessionId)"
                                    class="a-selectControl -small">
                                    <option selected *ngFor="let quantity of quantityOptions" [value]="quantity">{{
                                      quantity }}
                                      adet</option>

                                  </select></div>
                              </div>
                              <div class="m-basket__quantity" style="width: fit-content;padding-top: 0.5em;">
                                <div class="m-basket__variantionName -mobileHide" *ngIf="item.extraServices.length >0">
                                  Extralar: <span *ngFor="let service of item.extraServices; let last = last">
                                    {{ service.count }} x {{ service.name }}{{ !last ? ',' : '' }}
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="m-basket__options">
                          <div class="m-basket__optionsItem">
                            <button id="removeCartItemBtn0-key-0" type="button" class="m-basket__remove"
                              (click)="removeItem(item.sessionId)">
                              <mat-icon id="delete-icon">delete</mat-icon>Sil
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12  col-md-12 col-lg-8 basket" [@flyOut] *ngIf="paymentProcess">
              <!-- Credit card form -->
              <div class="row d-flex">
                <div class="col-md-12 mb-4">
                  <div class="card mb-4">
                    <div class="card-header py-3">
                      <h4 class="mb-0">Biling details</h4>
                    </div>
                    <hr class="my-4" />

                    <div class="card-body">
                      <form [formGroup]="paymentForm">
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row mb-4">
                          <div class="col-6">
                            <mat-form-field class="flex-auto form-outline">
                              <mat-label> Name</mat-label>
                              <input matInput [formControlName]="'name'" />
                            </mat-form-field>
                          </div>
                          <div class="col-6">
                            <mat-form-field class="flex-auto form-outline">
                              <mat-label>Last Name</mat-label>
                              <input matInput [formControlName]="'lastname'" />
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row  mb-4">
                          <div class="col-12">

                            <mat-form-field class="flex-auto form-outline">
                              <mat-label>Address</mat-label>
                              <input matInput [formControlName]="'adress'" />
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row  mb-4">
                          <div class="col-12">
                            <mat-form-field class="flex-auto form-outline">
                              <mat-label>Email</mat-label>
                              <input matInput [formControlName]="'email'" />
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row  mb-4">
                          <div class="col-12">
                            <mat-form-field class="flex-auto form-outline">
                              <mat-label>Phone</mat-label>
                              <input matInput [formControlName]="'phone'" />
                            </mat-form-field>
                          </div>
                        </div>
                        <hr class="my-4" />
                        <div class="row  mb-4">
                          <div class="col-12">
                            <mat-checkbox matInput [formControlName]="'savenexttime'">Save this information for next
                              time</mat-checkbox>
                          </div>
                        </div>
                        <hr class="my-4" />
                        <h4 class="mb-4">Payment</h4>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="checkoutForm3"
                            checked />
                          <label class="form-check-label" for="checkoutForm3">
                            Credit card
                          </label>
                        </div>
                        <div class="row mb-4">
                          <div class="col-12">
                            <mat-form-field class="flex-auto form-outline">
                              <mat-label> Name on card</mat-label>
                              <input matInput [formControlName]="'cardname'" />
                              <mat-error *ngIf="paymentForm.get('cardname')?.hasError('required')">
                                Name on card is required
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col-12">
                            <mat-form-field class="flex-auto form-outline">
                              <mat-label>Credit card number</mat-label>
                              <input (input)="onValueChangeCreditCard($event)" matInput
                                [formControlName]="'cardnumber'" />
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col-4">
                            <mat-form-field class="flex-auto form-outline">
                              <mat-label>Expiration Month</mat-label>
                              <mat-select [formControlName]="'month'" required>
                                <mat-option *ngFor="let option of monthSelectBox" [value]="option">
                                  {{ option }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-4">
                            <mat-form-field id="basket-form" class="flex-auto">
                              <mat-label>Expiration Year</mat-label>
                              <mat-select [formControlName]="'year'" required id="basket-form">
                                <mat-option *ngFor="let option of yearSelectBox" [value]="option">
                                  {{ option }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-4">
                            <mat-form-field id="basket-form" class="flex-auto">
                              <mat-label>CVV</mat-label>
                              <input matInput type="text" [formControlName]="'cvc'" min="0"
                                (input)="onValueChangeCvv($event)" required />
                            </mat-form-field>
                          </div>
                        </div>
                        <!-- 
                        <button class="btn btn-primary btn-lg btn-block" type="submit">
                          Continue to checkout
                        </button> -->
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 basket basket-summary">
              <div class="m-orderSummary" disabledbtn="true">
                <div class="m-orderSummary__header">
                  <h3 class="m-orderSummary__title">Sipariş Özeti</h3>
                </div>
                <div class="m-orderSummary__body">
                  <ul class="m-orderSummary__calculate">
                    <li class="m-orderSummary__item"><span class="m-orderSummary__name">Toplam Tutar (KDV Dahil)</span>
                      <span class="m-orderSummary__value">{{ calculateTotalPrice() |
                        currency:'':'':'1.2-2'}} TL</span>
                    </li>
                    <li class="m-orderSummary__item -arrowUp"><span class="m-orderSummary__name">Sepet Detayları</span>
                      <span class="m-orderSummary__value"> </span>
                    </li>
                    <li class="subList">
                      <ul>

                        <li class="m-orderSummary__item -last"><span class="m-orderSummary__name">Bilet
                            Toplamı</span> <span class="m-orderSummary__value">{{ ticketPrices |
                            currency:'':'':'1.2-2'}} TL</span></li>
                        <li class="m-orderSummary__item -last"><span class="m-orderSummary__name">Ekstralar
                            Toplamı</span> <span class="m-orderSummary__value">{{ extraPrices |
                            currency:'':'':'1.2-2'}} TL</span></li>
                      </ul>
                    </li>

                    <li class="m-orderSummary__item -grandTotal"><span class="m-orderSummary__name">Ödenecek
                        Tutar</span> <span class="m-orderSummary__value"
                        ins-init-condition="#Li1ncmFuZFRvdGFsIC5tLW9yZGVyU3VtbWFyeV9fdmFsdWUsICNlbXR5Q2FydA==">{{
                        calculateTotalPrice() |
                        currency:'':'':'1.2-2'}}
                        TL</span></li>
                  </ul>
                  <!-- <ul class="m-orderSummary__calculate">
                    <li class="m-orderSummary__item"><span class="m-orderSummary__name">Toplam Tutar (KDV Dahil)</span>
                      <span class="m-orderSummary__value">{{ calculateTotalPrice() |
                        currency:'':'':'1.2-2'}} TL</span>
                    </li>
                    <li class="m-orderSummary__item -arrowUp"><span class="m-orderSummary__name">Toplam İndirim
                        Tutarı</span> <span class="m-orderSummary__value">{{ calculateTotalPrice(10) |
                        currency:'':'':'1.2-2'}} TL</span></li>
                    <li class="subList">
                      <ul>

                        <li class="m-orderSummary__item -last"><span class="m-orderSummary__name">Kampanya
                            İndirimi</span> <span class="m-orderSummary__value">{{ calculateTotalPrice(10) |
                            currency:'':'':'1.2-2'}} TL</span></li>
                      </ul>
                    </li>

                    <li class="m-orderSummary__item -grandTotal"><span class="m-orderSummary__name">Ödenecek
                        Tutar</span> <span class="m-orderSummary__value"
                        ins-init-condition="#Li1ncmFuZFRvdGFsIC5tLW9yZGVyU3VtbWFyeV9fdmFsdWUsICNlbXR5Q2FydA==">{{
                        calculateTotalPrice(90) |
                        currency:'':'':'1.2-2'}}
                        TL</span></li>
                  </ul> -->
                </div>
                <div class="m-orderSummary__bottom"><button type="button" id="nextBtn" class="btn -dark -large"
                    (click)="paymentProcessContinue()">SATIN
                    AL</button></div>
              </div>
              <div>
                <div><button id="addCouponCodeBtn" type="button" class="m-couponSummary">
                    <div class="m-couponSummary__content"><svg width="36px" height="22px" class="icon icon-discount">
                        <use xlink:href="#icon-discount"></use>
                      </svg> <span class="m-couponSummary__text">Kupon Kodu Ekleyin</span></div> <svg width="16px"
                      height="16px" class="icon icon-arrow-right">
                      <use xlink:href="#icon-arrow-right"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="paymentForm"></div>