<div class="index">
  <section id="cosmosDance" class="section">
    <div class="section-inner is-fullhdMax">
      <div class="container">
        <div class="is-flex-mobile is-justify-content-center is-align-items-center">
        </div>
        <div class="columns is-desktop">
          <div class="column is-half">
            <div dir="ltr" class="slick-slider slick-initialized">
              <div class="custom-arrow slick-arrow slick-prev">
                <span class="icon has-icons-left is-medium is-transparent-arrow"><i
                    class="mdi mdi-chevron-left mdi-24px"></i></span>
              </div>
              <div class="slick-list">
                <div class="slick-track" style="width: 5949px; opacity: 1; transform: translate3d(-1322px, 0px, 0px);">
                  <div tabindex="-1" data-index="-1" aria-hidden="true" class="slick-slide slick-cloned"
                    style="width: 661px;">
                    <div>
                      <div tabindex="-1" style="width:100%;display:inline-block;">
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230606125545060_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy">
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" aria-hidden="false" class="slick-slide" style="outline: none; width: 661px;">
                    <div>
                      <div tabindex="-1" style="width:100%;display:inline-block;">
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230606125503983_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy">
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="1" aria-hidden="false" class="slick-slide slick-active slick-current"
                    style="outline: none; width: 661px;">
                    <div>
                      <div tabindex="-1" style="width:100%;display:inline-block;">
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230606125517243_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy">
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="2" aria-hidden="false" class="slick-slide"
                    style="outline: none; width: 661px;">
                    <div>
                      <div tabindex="-1" style="width:100%;display:inline-block;">
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230606125531729_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy">
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="3" aria-hidden="false" class="slick-slide"
                    style="outline: none; width: 661px;">
                    <div>
                      <div tabindex="-1" style="width:100%;display:inline-block;">
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230606125545060_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy">
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="4" aria-hidden="false" class="slick-slide slick-cloned"
                    style="width: 661px;">
                    <div>
                      <div tabindex="-1" style="width:100%;display:inline-block;">
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230606125503983_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy">
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="5" aria-hidden="false" class="slick-slide slick-cloned"
                    style="width: 661px;">
                    <div>
                      <div tabindex="-1" style="width:100%;display:inline-block;">
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230606125517243_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy">
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="6" aria-hidden="false" class="slick-slide slick-cloned"
                    style="width: 661px;">
                    <div>
                      <div tabindex="-1" style="width:100%;display:inline-block;">
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230606125531729_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy">
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="7" aria-hidden="false" class="slick-slide slick-cloned"
                    style="width: 661px;">
                    <div>
                      <div tabindex="-1" style="width:100%;display:inline-block;">
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230606125545060_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="custom-arrow slick-arrow slick-next">
                <span class="icon has-icons-right is-medium is-transparent-arrow"><i
                    class="mdi mdi-chevron-right mdi-24px"></i></span>
              </div>
            </div>
          </div>
          <div class="column has-text-white is-half">
            <div id="cosmosDance_Content" class="cosmos-content">
              <h3 class="cosmos-sub-title">
                SANAT, GASTRONOMİ, EĞLENCE VE TEKNOLOJİNİN EŞSİZ BİR SENTEZİ
              </h3>
              <div>
                <p>Sanat, eğlence ve rafine bir gastronomi anlayışını mükemmel bir şekilde harmanlayan Cosmos Theatre,
                  yeni nesil bir akşam yemeği tiyatrosudur.</p>
                <p>&nbsp;</p>
                <p>Cosmos Theatre, Antalya halkına ve Antalya’ya gelen tüm turistlere eşsiz bir deneyim yaşatmak için
                  hazır!</p>
              </div>
              <div id="cosmosDance_video" class="block">
                <video autoplay muted loop [muted]="videoMuted" id="cosmosDance_video_player" preload="none"
                  (mouseenter)="onHoverMethod(true)" (mouseleave)="onHoverMethod(false)">
                  <source src="../../../../assets/videos/home-page-video.mp4" type="video/mp4">
                </video>
                <!-- <video id="cosmosDance_video_player" poster="/_nuxt/img/videoCover.73e7f24.png">
                  <source src="../../../../assets/videos/home-page-video.mp4" type="video/mp4">
                  Your browser does not support HTML video.
                </video> -->
                <button type="button" class="button is-large is-text has-text-white">
                  <span><img
                      src="{{(pauseMainPageVid ?  '../../../../assets/icons/pause-button.png' : '../../../../assets/icons/play-button.png')}}"
                      alt="cosmostheatre" class="play-icon">
                  </span> </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cosmos-absolute-content"></div>
    </div>
  </section>
  <!-- <section class="magnificent-show section" data-v-d0505ad0="" data-v-6700ede1="">
    <div class="section-inner is-fullhdMax"   data-v-d0505ad0="">
      <div class="container"  >
        <div class="is-flex-mobile is-justify-content-center is-align-items-center"  > 
        </div>
        <div class="columns is-desktop"  >
          <div class="column is-three-fifths has-position-relative"  >
            <div id="magnificentShow_Content" class="cosmos-content"  >
              <h3 class="cosmos-title cosmos-title--star"   data-v-d0505ad0="">
                ANDY SHOW
                <img src="/_nuxt/img/icon-star.dcce8c7.svg" alt="cosmostheatre"   data-v-d0505ad0="">
              </h3>
              <h4 class="cosmos-sub-title"   data-v-d0505ad0="">
                Hayal Gücünün Ötesinde
              </h4>
              <div   data-v-d0505ad0="">
                <p>Hayal gücünüzün sınırlarını zorlamanın ve evrenin sonsuzluğunu keşfetmenin tam zamanı!</p>
                <p>Çeşitli sanat dallarının harmanlandığı canlı bir şov ile büyüleyici dünyalara doğru kozmik bir
                  yolculuğa davetlisiniz. Görsel bir şölenle birleşen bu içten hikaye unutulmaz bir gece olacak. "ANDY"
                  kalbinizde ve duygularınızda iz bırakacak.</p>
              </div> <a href="/tr/andy-show" class="button is-cosmos-blue is-large-widescreen"  
                data-v-d0505ad0="">
                DETAY
              </a> <img src="/_nuxt/img/lights.0861a38.png" alt="cosmostheatre" height="223" width="340"
                class="lights is-hidden-mobile"   data-v-d0505ad0="">
            </div>
          </div>
          <div class="column percent-80-right"  >
            <div class="slick-slider slick-initialized"   >
              <div class="slick-list" >
                <div class="slick-track" style="width: 419px; opacity: 1; transform: translate3d(0px, 0px, 0px);"
                    >
                  <div tabindex="-1"   aria-hidden="false" class="slick-slide slick-active slick-current"
                    style="outline: none; width: 419px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230606125311439_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div>
      <div class="cosmos-absolute-content"  ></div>
    </div>
  </section>
  <section class="gastronomy section" data-v-049c5c5f="" data-v-6700ede1="">
    <div class="section-inner is-fullhdMax"   data-v-049c5c5f="">
      <div class="container"  >
        <div class="is-flex-mobile is-justify-content-center is-align-items-center"  > 
        </div>
        <div class="columns is-desktop"  > 
          <div class="column is-half"  >
            <div dir="ltr" class="slick-slider slick-initialized"   >
              <div class="custom-arrow slick-arrow slick-prev"     >
                <span class="icon has-icons-left is-medium is-transparent-arrow"  
                   ><i class="mdi mdi-chevron-left mdi-24px"  
                     ></i></span>
              </div>
              <div class="slick-list" >
                <div class="slick-track" style="width: 3305px; opacity: 1; transform: translate3d(-1322px, 0px, 0px);"
                    >
                  <div tabindex="-1" data-index="-1" aria-hidden="true" class="slick-slide slick-cloned"
                    style="width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230606125835162_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1"   aria-hidden="true" class="slick-slide"
                    style="outline: none; width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230116181239544_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="1" aria-hidden="false" class="slick-slide slick-active slick-current"
                    style="outline: none; width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230606125835162_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="2" aria-hidden="true" class="slick-slide slick-cloned"
                    style="width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230116181239544_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="3" aria-hidden="true" class="slick-slide slick-cloned"
                    style="width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230606125835162_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="custom-arrow slick-arrow slick-next"     >
                <span class="icon has-icons-right is-medium is-transparent-arrow"  
                   ><i class="mdi mdi-chevron-right mdi-24px"  
                     ></i></span>
              </div>
            </div>
          </div>
          <div class="column is-half"  >
            <div id="Gastronomy_Content" class="cosmos-content"  ><img
                src="/_nuxt/img/fallingStar.e33f94f.png" alt="cosmostheatre" class="is-hidden-touch falling-star"
                  data-v-049c5c5f="">
              <h3 class="cosmos-title cosmos-title--star"   data-v-049c5c5f="">
                GASTRONOMİ
                <img src="/_nuxt/img/icon-star.dcce8c7.svg" alt="cosmostheatre"   data-v-049c5c5f="">
              </h3>
              <h4 class="cosmos-sub-title"   data-v-049c5c5f="">
                Rafine Bir Gastronomi Deneyimi
              </h4>
              <div   data-v-049c5c5f="">
                <p>Yetenekli mutfak ekibimiz tarafından tasarlanan temalı mutfak lezzetleriyle duyularınızı uyandıracak
                  bir ziyafete hazırlanın!</p>
                <p>&nbsp;</p>
                <p>Enfes içecek ve kokteyl seçkisinin yanı sıra eşsiz bar servisimiz Cosmos Theatre’da yaşayacağınız
                  deneyimi unutulmaz kılacak!</p>
                <p><br>&nbsp;</p>
              </div> <a href="/tr/gastronomi" class="button is-cosmos-blue is-large-widescreen"  
                data-v-049c5c5f="">
                DETAY
              </a> <img src="/_nuxt/img/crescent.38f24bb.png" alt="cosmostheatre" class="crescent"  
                data-v-049c5c5f="">
            </div>
          </div>
        </div>
      </div>
      <div class="cosmos-absolute-content"  ></div>
    </div>
  </section>
  <section class="club-cosmos section" data-v-2e0d16ed="" data-v-6700ede1="">
    <div class="section-inner is-fullhdMax"   data-v-2e0d16ed="">
      <div class="container"  >
        <div class="is-flex-mobile is-justify-content-center is-align-items-center"  > 
        </div>
        <div class="columns is-desktop"  >
          <div class="column is-half"  >
            <div id="clubCosmos_Content" class="cosmos-content"  >
              <h3 class="cosmos-title cosmos-title--star"   data-v-2e0d16ed="">
                CLUB COSMOS
                <img src="/_nuxt/img/icon-star.dcce8c7.svg" alt="cosmostheatre"   data-v-2e0d16ed="">
              </h3>
              <h4 class="cosmos-sub-title"   data-v-2e0d16ed="">
                Muhteşem Bir Gece Kulübü Deneyimi
              </h4>
              <div   data-v-2e0d16ed="">
                <p>Rutin eğlence anlayışından çıkıp uluslararası üne sahip DJ'lerin ve ünlü sanatçıların performansları
                  eşliğinde, kendinizi Club Cosmos'un çarpıcı atmosferine bırakmayı deneyimleyin.</p>
              </div> <a href="/tr/club-cosmos" class="button is-cosmos-blue is-large-widescreen"  
                data-v-2e0d16ed="">
                DETAY
              </a>
            </div>
          </div>
          <div class="column is-half"  >
            <div dir="ltr" class="slick-slider slick-initialized"   >
              <div class="custom-arrow slick-arrow slick-prev"     >
                <span class="icon has-icons-left is-medium is-transparent-arrow"  
                   ><i class="mdi mdi-chevron-left mdi-24px"  
                     ></i></span>
              </div>
              <div class="slick-list" >
                <div class="slick-track" style="width: 8593px; opacity: 1; transform: translate3d(-1983px, 0px, 0px);"
                    >
                  <div tabindex="-1" data-index="-1" aria-hidden="true" class="slick-slide slick-cloned"
                    style="width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230204185001448_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1"   aria-hidden="true" class="slick-slide"
                    style="outline: none; width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230601085647073_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="1" aria-hidden="true" class="slick-slide"
                    style="outline: none; width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230601085712632_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="2" aria-hidden="false" class="slick-slide slick-active slick-current"
                    style="outline: none; width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230601085730739_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="3" aria-hidden="true" class="slick-slide"
                    style="outline: none; width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230601085752661_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="4" aria-hidden="true" class="slick-slide"
                    style="outline: none; width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230601085812078_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="5" aria-hidden="true" class="slick-slide"
                    style="outline: none; width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230204185001448_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="6" aria-hidden="true" class="slick-slide slick-cloned"
                    style="width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230601085647073_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="7" aria-hidden="true" class="slick-slide slick-cloned"
                    style="width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230601085712632_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="8" aria-hidden="true" class="slick-slide slick-cloned"
                    style="width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230601085730739_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="9" aria-hidden="true" class="slick-slide slick-cloned"
                    style="width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230601085752661_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="10" aria-hidden="true" class="slick-slide slick-cloned"
                    style="width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230601085812078_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                  <div tabindex="-1" data-index="11" aria-hidden="true" class="slick-slide slick-cloned"
                    style="width: 661px;"  >
                    <div  >
                      <div tabindex="-1" style="width:100%;display:inline-block;"    >
                        <img
                          src="https://static.kilithg.com/networks/4/properties/4/multimedia/20230204185001448_org.jpg"
                          alt="Cosmos Theatre" width="660" height="548" loading="lazy"  
                           >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="custom-arrow slick-arrow slick-next"     >
                <span class="icon has-icons-right is-medium is-transparent-arrow"  
                   ><i class="mdi mdi-chevron-right mdi-24px"  
                     ></i></span>
              </div>
            </div>
          </div> 
        </div>
      </div>
      <div class="cosmos-absolute-content"  ><img src="/_nuxt/img/nightLights1.f933422.png"
          alt="cosmostheatre" class="nightLights1"   data-v-2e0d16ed=""> <img
          src="/_nuxt/img/nightLights2.0131588.png" alt="cosmostheatre" class="nightLights2"  
          data-v-2e0d16ed=""></div>
    </div>
  </section>
  <div data-v-5c09d235="" data-v-6700ede1="" id="carousel-3d-wrapper">
    <div data-v-5c09d235="" class="is-flex is-align-items-center is-justify-content-center pt-4">
      <h2 data-v-5c09d235="" class="cosmos-title cosmos-title--star has-text-center is-size-3-mobile is-size-2-desktop">
        YAKLAŞAN ETKİNLİKLER
        <img data-v-5c09d235="" src="/_nuxt/img/icon-star.dcce8c7.svg" alt="cosmostheatre">
      </h2>
    </div>
    <div data-v-5c09d235="" class="my-carousel-3d">
      <div  data-v-5c09d235="" class="slick-slider slick-initialized">
        <div  class="slick-list">
          <div    class="slick-track slick-center"
            style="width: 527px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
            <div   tabindex="-1"   aria-hidden="false"
              class="slick-slide slick-active slick-center slick-current" style="outline: none; width: 527px;">
              <div  >
                <div data-v-5c09d235=""   tabindex="-1" class="event-slider"
                  style="width: 100%; display: inline-block;"><img data-v-5c09d235=""  
                    src="https://static.kilithg.com/events/63/multimedia/20230613143912825_org.jpg"
                    alt="Küçük Prens: Bir Dostluk Hikayesi Cosmos Theatre’da!" loading="lazy" width="510" height="390"
                    class="current-img"> <a data-v-5c09d235="" href="/tr/etkinlikler-konserler/kucuk-prens"
                    class="button btn-detail"  > <span><span
                        data-v-5c09d235="">DETAY</span></span> </a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <img data-v-5c09d235="" src="/_nuxt/img/nightLights2.0131588.png" alt="cosmostheatre" class="nightLights2">
  </div> -->
</div>