/* // #cosmosDance {
//     padding-top: 0 !important;
// }

// article,
// aside,
// figure,
// footer,
// header,
// hgroup,
// section {
//     display: block;
// }

// .section {
//     padding: 3rem 1.5rem;
// }

// .column {
//     display: block;
//     flex-basis: 0;
//     flex-grow: 1;
//     flex-shrink: 1;
//     padding: 0.75rem;
// }






// .is-fullhdMax {
//     position: relative;
// }


// .columns:last-child {
//     margin-bottom: -0.75rem;
// }

// .columns {
//     margin-left: -0.75rem;
//     margin-right: -0.75rem;
//     margin-top: -0.75rem;
// }

// .slick-slider {
//     -webkit-touch-callout: none;
//     -webkit-tap-highlight-color: transparent;
//     box-sizing: border-box;
//     display: block;
//     position: relative;
//     touch-action: pan-y;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     user-select: none;
//     -khtml-user-select: none;
// }

// .custom-arrow.slick-prev {
//     left: 0;
//     top: 50%;
//     transform: translate(20%, -50%);
// }

// .custom-arrow {
//     position: absolute;
//     z-index: 9;
// }

// .custom-arrow.slick-next {
//     right: 0;
//     top: 50%;
//     transform: translate(-20%, -50%);
// }

// .slick-track {
//     display: block;
//     left: 0;
//     position: relative;
//     top: 0;
//     transform: translateZ(0);
// }


// .slick-track:after,
// .slick-track:before {
//     content: "";
//     display: table;
// }

// .slick-initialized .slick-slide {
//     display: block;
// }

// .slick-slide {
//     display: none;
//     float: left;
//     height: 100%;
//     min-height: 1px;
// }

// .slick-slide img {
//     display: block;
// }

// img {
//     height: auto;
//     max-width: 100%;
// }

// img,
// video {
//     height: auto;
//     max-width: 100%;
// }

// .has-text-white {
//     color: #fff !important;
// }

// .slick-track:after {
//     clear: both;
// }

// .slick-track:after,
// .slick-track:before {
//     content: "";
//     display: table;
// }


// .slick-list {
//     display: block;
//     margin: 0;
//     overflow: hidden;
//     padding: 0;
//     position: relative;
//     transform: translateZ(0);
// }










// span {
//     font-style: inherit;
//     font-weight: inherit;
// }

// .is-transparent-arrow {
//     background: transparent !important;
//     color: #fff !important;
//     opacity: .75;
// }

// .icon {
//     align-items: center;
//     display: inline-flex;
//     height: 1.5rem;
//     justify-content: center;
//     width: 1.5rem;
// }

// .icon {
//     -webkit-touch-callout: none;
//     cursor: inherit;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     user-select: none;
// }

// .icon.is-medium {
//     height: 2rem;
//     width: 2rem;
// }


// .custom-arrow .icon {
//     background: #fff;
//     border: 1px solid #fff;
//     border-radius: 9999px;
//     color: #00d1b2;
//     cursor: pointer;
//     height: 48px;
//     outline: 0;
//     width: 48px;
// }




// .mdi-set,
// .mdi:before {
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//     display: inline-block;
//     font: normal normal normal 32px/1 "Material Design Icons";
//     font-size: inherit;
//     font-size: 1.5rem;
//     font-weight: 700;
//     line-height: inherit;
//     text-rendering: auto;
// }


// .mdi-chevron-left:before {
//     content: "󰅁";
// }

// .custom-arrow .mdi-chevron-left:before {
//     content: "󰅁";
// }









// .cosmos-sub-title {
//     color: #fff;
//     font-family: "Jost";
//     font-style: normal;
//     font-weight: 500;
//     line-height: 145%;
// }


// .cosmos-sub-title,
// .is-size-3,
// .v2-content .cosmos2-sub-title {
//     font-size: 2rem !important;
// }


// .cosmos-content h3 {
//     font-size: 2rem;
// }


// .cosmos-content .cosmos-sub-title {
//     font-size: 1.5rem !important;
//     margin-bottom: 1.7rem;
// }

// #cosmosDance_Content h3 {
//     margin-bottom: 1.25rem;
//     word-spacing: -0.125rem;
// }

// #cosmosDance_video {
//     margin-top: 2.5rem;
//     position: relative;
// }









// @media screen and (min-width: 1408px) {
//     .section {
//         padding: 0;
//     }

//     #cosmosDance #cosmosDance_Content {
//         padding-left: 50px;
//     }

//     .cosmos-content {
//         min-height: 100%;
//     }

//     .cosmos-sub-title {
//         font-size: 2rem;
//     }

//     #cosmosDance_Content h3 {
//         margin-bottom: 2.5rem;
//         width: 110%;
//     }

//     #cosmosDance_video {
//         margin-top: 3.75rem;
//     }

//     #cosmosDance_video_player {
//         max-height: 300px;
//         max-width: 60%;
//         width: auto;
//     }

// }


// .cosmos-content p {
//     font-family: "Jost";
//     font-size: 1.125rem;
//     font-style: normal;
//     font-weight: 300;
//     line-height: 145%;
// }



// #cosmosDance_video .button {
//     background: none !important;
//     border: 0 !important;
//     bottom: 2.5rem;
//     box-shadow: none !important;
//     font-size: 1rem;
//     font-weight: 400;
//     left: 15px;
//     line-height: 145%;
//     outline: 0 !important;
//     position: absolute;
//     -webkit-text-decoration: none !important;
//     text-decoration: none !important;
// }


// #cosmosDance_video .button img {
//     margin-top: 1rem;
//     vertical-align: middle;
// }

// #cosmosDance_video .button .play-icon {
//     height: 2rem;
//     width: 2rem;
// }



// @media screen and (min-width: 1024px) {
//     .section {
//         padding: 3rem;
//     }

//     .columns.is-desktop {
//         display: flex;
//     }
// }



// @media print,
// screen and (min-width: 769px) {

//     .column.is-half,
//     .column.is-half-tablet {
//         flex: none;
//         width: 50%;
//     }


// }


// @media screen and (min-width: 1216px) {
//     .container:not {
//         max-width: 1152px;
//     }
// }

// @media (min-width: 768px) and (max-width: 991.98px) {
//     #cosmosDance .is-half {
//         width: 100%;
//     }
// } */


#tt-pageContent {
    position: relative;
}

#tt-pageContent {
    margin-top: 101px !important;
}


#tt-pageContent {
    background-color: #fff;
    padding-top: 0;
    margin-top: 292px;
    position: relative;
    z-index: 2;
    background: #2e4769 !important;
    color: #fff !important;
}


.subpages-inner {
    padding-top: 120px;
    padding-bottom: 120px;
    background: #050619 !important;
}

.section-marker {
    position: relative;
}

.indexPageMaker {
    padding-top: 0px;
}



@media (max-width: 1239px) {


    #tt-pageContent {
        margin-top: 279px;
    }

    .subpages-inner {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}


@media (max-width: 1024px) {

    #tt-pageContent {
        margin-top: 258px;
    }

    .subpages-inner {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}


@media (max-width: 767px) {
    #tt-pageContent {
        margin-top: 218px;
        width: 100%;
        overflow: hidden;
    }

    .subpages-inner {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}


.custom-slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 55vh;
    font-family: 'Roboto', sans-serif;
    transition: 0.25s;
    position: static;

}

.options {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 600px;
    max-width: 900px;
    width: calc(100% - 100px);
    height: 400px;
}

@media screen and (max-height:718px) {
    .options {
        min-width: 520px;
    }

    .options .option:nth-child(5) {
        display: none;
    }

}


@media screen and (max-height:638px) {
    .options {
        min-width: 440px;
    }

    .options .option:nth-child(4) {
        display: none;
    }

}

@media screen and (max-height:558px) {
    .options {
        min-width: 360px;
    }

    .options .option:nth-child(3) {
        display: none;
    }

}

.options .option {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 10px;
    /* background: var(--optionBackground, var(--defaultBackground, #e6e9ed)); */
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

/* 
.options .option:nth-child(1) {
    --defaultBackGround: #ed5565;
}

.options .option:nth-child(2) {
    --defaultBackGround: #fd9b11;
}

.options .option:nth-child(3) {
    --defaultBackGround: #dfea0d;
}

.options .option:nth-child(4) {
    --defaultBackGround: #32ea0d;
}

.options .option:nth-child(5) {
    --defaultBackGround: #0dead4;
}

.options .option:nth-child(6) {
    --defaultBackGround: #0d41ea;
} */


.active {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 600px;
    margin: 0px;
    border-radius: 40px;
    background-size: auto 100%;
}

.active .shadow {
    /* box-shadow: inset 0 -120px 0px -120px #000, inset 0 -120px 0px -120px #000, inset 0 -120px 0px -100px #000; */
}

.options .option .active.label {
    bottom: 20px;
    left: 20px;

}

.options .option .active.label.info>div {
    left: 0px;
    opacity: 1;
}

.options .option:not(.active) {
    flex-grow: 1;
    border-radius: 30px;

}

.options .option:not(.active) .shadow {
    bottom: -40px;
    box-shadow: inset 0 -120px 0px -120px #000, inset 0, -120px 0px, -100px #000;
}

.options .option:not(.active) .label {
    bottom: 10px;
    left: 10px;
}

.options .option:not(.active) .label .info>div {
    left: 20px;
    opacity: 0;
}

.options .option .shadow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);

}


.options .option .label {
    display: flex;
    position: absolute;
    right: 0;
    height: 40px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);

}

.options .option .label .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #fff;
    color: var(--defaultBackGround)
}


.options .option .label .info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    color: white;
    white-space: pre;
}


.options .option .label .icon>div {
    position: relative;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;

}

.options .option .label .info .main {
    font-weight: bolder;
    font-size: 1.2rem;
}

.options .option .label .info .sub {
    transition-delay: 0.1s;
}

.custom-form {
    padding: 0px 0px 0px 0px !important;
}

.form-row {
    margin: 0px 17vw;
    border-radius: 10px;
    border: 0.1em solid white;
    padding: 27px 53px;
    background-color: #ffffff05;
}


::ng-deep #home-form .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
}

::ng-deep #home-form .mdc-notched-outline .mdc-notched-outline__leading {
    border-color: rgb(255 255 255 / 36%) !important;
}


::ng-deep #home-form .mdc-notched-outline__trailing {
    border-color: rgb(255 255 255 / 36%) !important;
}

::ng-deep #home-form .mdc-notched-outline__notch {
    border-color: rgb(255 255 255 / 36%) !important;
}



::ng-deep #home-form .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: rgb(255 255 255 / 87%);
}

::ng-deep #home-form .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
    color: rgb(255 255 255);
}

::ng-deep #home-form .mat-datepicker-toggle {
    pointer-events: auto;
    color: rgb(255 255 255 / 54%);
}

.center-common {
    align-items: center;
    display: flex;
}